@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800&family=Poppins:wght@100;300;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    color: #333;
    justify-content: center;
    align-items: center;
    background-image: url('images/pexels-brett-sayles-912364 (1).jpg');
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    body {
        background-image: url('images/pexels-pixabay-531767.jpg');
    }
}


@media (max-width: 480px) {
    body {
        background-image: url('images/pexels-brett-sayles-2097628.jpg');
    }
}


.container {
    margin-top: 20px;
    width: 90%;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff; 
}

.weather-input {
    padding: 1rem;
    background: linear-gradient(135deg, #e45ed0 0%, #e9937b 100%);
    color: #333;
    border-radius: 20px;
    margin-top: 45px;
    margin-bottom: 20px; 
}

.weather-input h2{
    display: flex;
    justify-content: center;
}
.input-group #converter {
    border: 1px solid #ddd;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    background: #fff;
    padding: 0.5rem;
    border-radius: 4px;
}

.temperature {
    font-weight: 300;
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.feelsLike, .description, .date, .city{
    display: flex;
    justify-content: center;
}

.weather-input .weatherIcon {
    height: 120px;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}
.weatherIcon img {
    max-width: 100%;
    max-height: 100%;
}

.weather-input .weatherIcon img {
    max-width: 100%;
    max-height: 100%;
}


.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.input-group input {
    flex: 1;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-right: 10px;
    font-size: 14px;
}

.input-group .fa-search {
    color: #333;
    cursor: pointer;
    font-size: 25px;
    margin-right: 10px;
}
.input-group .fa-search:hover {
    color: #ff6a00;
}
.location-btn {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 25px;
    margin-right: 10px;
}


.weather-output {
    padding: 1rem;
}


.Highlight {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
    margin-top: 20px;
}

.Highlight div {
    padding: 1rem;
    background: linear-gradient(135deg, #ff6a00 0%, #ee0979 100%);
    color: #fff;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    overflow: hidden;
}
.Highlight div:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.Highlight h1 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.Highlight i {
    font-size: 30px;
    margin-bottom: 0.5rem;
}
.heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #333;
    background: linear-gradient(to right, red, purple, green, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  
}
.sun span {
    align-items: center;
    display: flex;
    gap: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .weather-input,
    .weather-output {
        width: 100%;
        margin: 0;
        padding: 1rem;
    }

    .Highlight {
        grid-template-columns: 1fr;
    }
    .input-group input {
        font-size: 18px;
    }

    .input-group #converter {
        font-size: 18px;
    }

    .Highlight div {
        height: 150px;
        font-size: 1rem;
    }

    .Highlight i {
        font-size: 40px;
    }
    .weather-input{
        margin-top: 1rem;
    }
}

@media (max-width: 480px) {
    .input-group input {
        font-size: 14px;
    }

    .Highlight i {
        font-size: 24px;
    }

    .Highlight h1 {
        font-size: 1rem;
    }

    .Highlight {
        grid-template-columns: 1fr;
    }
    .input-group #converter {
        font-size: 18px;
    }
    .weather-input,
    .weather-output {
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
    .weather-input{
        margin-top: 1rem;
    }
    
}
